.wrapperDiv {
    position: relative;
    padding: 10px;
    background: #ece5e5;
    border-radius: 5px;
    margin: 10px 0 10px 12px;
}

.addWrapperDiv {
    position: relative;
    padding: 10px;
    background: #f6f6f4;
    border-radius: 5px;
    margin: 10px 0 10px 12px;
}

.autocomplete {
    position: absolute;
    left: -25px;
    top: 11.4%;
    z-index: 1000;
}

.autocompleteAdd {
    position: absolute;
    left: 54px;
    top: 10%;
    z-index: 1000;
}

.autocompleteItems {
    list-style: none;
    background: white;
    padding: 10px;
    border: 1px solid lightgrey;
}

.autocompleteItems:hover {
    background: #b8daf5;
}

.inputCheckbox {
    width: 10em !important;
}

.updateNameButton {
    width: 134px;
}

.labelAddress {
    margin-right: 10px;
}

.labelShopName {
    margin-right: 24px;
}

.buttonWrapperDiv {
    margin: 15px 0 0 -5px;
}