* {
    font-family: 'Work Sans', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="radio"],
input[type="checkbox"] {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #77002e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0069d9;
}

button:disabled {
    background-color: #a75e7a;
}

.leaflet-container {
    width: 100vh;
    height: 50vh;
    margin: 20px 0 0 0;
}
